<!DOCTYPE html>
<html>
<nav> <%= link_to 'Home', root_path %>  | [Other Menu Option Here] </nav>

  <head>
    <title>"Ah Post-It, Post-It Real Good"</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <%= yield %>
    
  </body>
</html>
